body{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
}

.welcome{
    background-color: #EEB6FF;
    color: #fff;
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 115px;
}

.welcome-title{
    margin: 0;
    font-size: 58px;
    text-align: center;
}

.login{
    box-sizing: border-box;
    width: 60vw;
    padding: 150px 132px;
    padding-bottom: 0;
}

.login-title{
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;  
}

.form{
    display: flex;
    flex-direction: column;
    gap: 95px;
}

.form-field {
  position: relative;   
  display: block;
}

.form-label{
    font-size: 36px;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 5px;
    bottom: 8px;
    pointer-events: none;
    transition: 0.3s ease;
}

.form-input{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 25px;
    width: 100%;
    padding: 10px 8px;
}

.form-input::placeholder {
  color: transparent;
}

.form-input:focus {
  border: none; 
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-30px);
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.extra-options{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.forgot-password{
    font-size: 32px;
    cursor: pointer;
}

.form-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 32px;
  cursor: pointer;
}

.form-checkbox input {
  display: none; 
}

.checkmark {
  width: 34px;
  height: 34px;
  border: 1px solid #333;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.form-checkbox input:checked + .checkmark {
  background-color: transparent;
  border-color: #333;
}

.form-checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 2px;
  width: 12px;
  height: 18px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkout{
    display: flex;
    flex-direction: column;
}

.checkout-button{
    display: flex;
    background-color: #C294C9;
    border-radius: 100px;
    width: 239px;
    height: 64px;
    color: white;
    border: none;
    font-size: 36px;
    gap: 25px;
    margin: 115px auto 20px auto; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sign-up{
    font-size: 32px;
    cursor: pointer;
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}
