body.sobre-nos-page main.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 40px;
    gap: 40px; 
    flex-wrap: wrap;
    max-width: 100%; 
    box-sizing: border-box;
}

body.sobre-nos-page .foto-giovana {
    width: 100%;
    max-width: 249px;
    height: auto;
    border-radius: 15%;
    object-fit: cover; 
    margin-right: 70px;
    flex-shrink: 0;
}

body.sobre-nos-page .foto-mellyna {
    width: 100%;
    max-width: 249px;
    height: auto;
    border-radius: 15%;
    object-fit: cover; 
    margin-top: 200px;
    margin-left: 20px;
    flex-shrink: 0;
}

body.sobre-nos-page .texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px; 
    font-size: 28px;
    line-height: 1.5;
    font-family: 'lato', sans-serif;
    color: #41014B;
}

body.sobre-nos-page .texto ul {
    padding: 0;
    margin: 0;
}
