/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
/* Header */
.Logo {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 48px;
    margin: 5px;
}
header a {
  font-size: 25px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #EEB6FF;
    color: white;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.main {
  height: 86vh;
  width: 100%;
}
.wrapper,
.slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.199);
  z-index: 10;
}
.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}

.image-data h2 {
  font-size: 55px;
  font-weight: 600;
  color: #fff;
}
a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  background: #9C60A5;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}
a.button:hover {
  color: #fff;
  background-color: #EEB6FF;
}

.nav-btn {
  height: 50px;
  width: 50px;
  border: none;
  background: none;
  box-shadow: none;
  
}

.swiper-button-next {
  right: 50px;
}
.swiper-button-prev {
  left: 50px;
}
.nav-btn::before,
.nav-btn::after {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}
.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  /* background-color: #fff; */
  visibility: hidden;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  /* background-color: #c87e4f; */
}
@media screen and (max-width: 768px) {
  .nav-btn {
    visibility: hidden;
  }
  .swiper-pagination-bullet {
    visibility: visible;
  }
}

/* Footer */
footer {
    display: flex;
    gap: 40px;
    padding: 20px;
    align-items: flex-start;
    background-color: #EEB6FF;
    color: rgb(255, 255, 255);
}

footer section {
    display: flex;
    flex-direction: column;
}

footer .sobre {
    border-left: 2px solid white;
    padding-left: 20px;
    margin-top: 7vh;
    
}

footer ul {
    list-style: none;
    padding: 5px;
}

footer a {
    color: white;
    text-decoration: none;
}
